body {
    font-family: Arial, sans-serif;
    background-color: beige;
    color: #333;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #7e0478;
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #008891;
    color: rgb(239, 172, 241);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}

button:hover {
    background-color: #005f73;
}


